<% if @documents.any? %>
  <ul>
    <% @documents.each do |document| %>
      <li>
        <%= link_to document.title, document %>
        <%= link_to 'Listen', document.text_to_speech_url, target: '_blank', class: 'listen-button' %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no documents.</p>
<% end %>

<div><%= link_to 'New Document', new_document_path %></div>
<div><%= link_to 'Home', root_path %></div>